### Importing the needed libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Read the DataFrame

In [2]:
df = pd.read_csv('Datasets/project.csv')
df

,Unnamed: 0,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
0,1,Punjab,Fazilka,Abohar,Other,Cereals,100,2130.0,2130,2130,26-May-23
1,2,Punjab,Fazilka,Abohar,Other,Cereals,136,2125.0,2125,2125,25-May-23
2,3,Punjab,Fazilka,Abohar,Other,Cereals,256,2125.0,2130,2125,24-May-23
3,4,Punjab,Fazilka,Abohar,Other,Cereals,270,2125.0,2130,2125,23-May-23
4,5,Punjab,Fazilka,Abohar,Other,Cereals,474,2125.0,2130,2125,22-May-23
...,...,...,...,...,...,...,...,...,...,...,...
5662,5663,Punjab,Ferozpur,Zira,Other,Cereals,"89,500.00",1975.0,1975,1975,15-Apr-21
5663,5664,Punjab,Ferozpur,Zira,Other,Cereals,"85,400.00",1975.0,1975,1975,14-Apr-21
5664,5665,Punjab,Ferozpur,Zira,Other,Cereals,"61,700.00",1975.0,1975,1975,13-Apr-21
5665,5666,Punjab,Ferozpur,Zira,Other,Cereals,"3,400.00",1975.0,1975,1975,12-Apr-21
5666,5667,Punjab,Ferozpur,Zira,Other,Cereals,600,1975.0,1975,1975,11-Apr-21

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5667 entries, 0 to 5666
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 5667 non-null   int64
 1   State Name                 5667 non-null   object
 2   District Name              5667 non-null   object
 3   Market Name                5667 non-null   object
 4   Variety                    5667 non-null   object
 5   Group                      5667 non-null   object
 6   Arrivals (Tonnes)          5659 non-null   object
 7   Min Price (Rs./Quintal)    5667 non-null   float64
 8   Max Price (Rs./Quintal)    5667 non-null   int64
 9   Modal Price (Rs./Quintal)  5667 non-null   int64
 10  Reported Date              5667 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 487.1+ KB

In [4]:
df['Reported Date'] = pd.to_datetime(df['Reported Date']) #Changing the data type of Reported Date to datetime
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5667 entries, 0 to 5666
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 5667 non-null   int64
 1   State Name                 5667 non-null   object
 2   District Name              5667 non-null   object
 3   Market Name                5667 non-null   object
 4   Variety                    5667 non-null   object
 5   Group                      5667 non-null   object
 6   Arrivals (Tonnes)          5659 non-null   object
 7   Min Price (Rs./Quintal)    5667 non-null   float64
 8   Max Price (Rs./Quintal)    5667 non-null   int64
 9   Modal Price (Rs./Quintal)  5667 non-null   int64
 10  Reported Date              5667 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 487.1+ KB

In [7]:
# Taking alloted data
data = df[(df['District Name']=='Mansa') | (df['District Name']=='Moga') | (df['District Name']=='Mohali') | (df['District Name']=='Muktsar')]
data['District Name'].unique()

array(['Moga', 'Mohali', 'Mansa', 'Muktsar'], dtype=object)

In [8]:
data

,Unnamed: 0,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
138,139,Punjab,Moga,Ajitwal,Other,Cereals,2.2,2125.0,2125,2125,2023-05-24
139,140,Punjab,Moga,Ajitwal,Other,Cereals,2.2,2125.0,2125,2125,2023-05-23
140,141,Punjab,Moga,Ajitwal,Other,Cereals,1.65,2125.0,2125,2125,2023-05-19
141,142,Punjab,Moga,Ajitwal,Other,Cereals,19.85,2125.0,2125,2125,2023-05-18
142,143,Punjab,Moga,Ajitwal,Other,Cereals,25.7,2125.0,2125,2125,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...
5047,5048,Punjab,Mansa,Sardulgarh,Other,Cereals,"8,365.00",1975.0,1975,1975,2021-04-15
5048,5049,Punjab,Mansa,Sardulgarh,Other,Cereals,"6,890.00",1975.0,1975,1975,2021-04-14
5049,5050,Punjab,Mansa,Sardulgarh,Other,Cereals,"5,880.00",1975.0,1975,1975,2021-04-13
5050,5051,Punjab,Mansa,Sardulgarh,Other,Cereals,"6,030.00",1975.0,1975,1975,2021-04-12
5051,5052,Punjab,Mansa,Sardulgarh,Other,Cereals,900,1975.0,1975,1975,2021-04-10

In [10]:
# Removing the 'Unnamed: 0', 'State Name', 'Variety', 'Group' columns because of low variance
data.drop(['Unnamed: 0', 'State Name', 'Variety', 'Group'],axis=1,inplace=True)
data.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_22760\3586531224.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(['Unnamed: 0', 'State Name', 'Variety', 'Group'],axis=1,inplace=True)

,District Name,Market Name,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
138,Moga,Ajitwal,2.2,2125.0,2125,2125,2023-05-24
139,Moga,Ajitwal,2.2,2125.0,2125,2125,2023-05-23
140,Moga,Ajitwal,1.65,2125.0,2125,2125,2023-05-19
141,Moga,Ajitwal,19.85,2125.0,2125,2125,2023-05-18
142,Moga,Ajitwal,25.7,2125.0,2125,2125,2023-05-17

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1106 entries, 138 to 5051
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   District Name              1106 non-null   object
 1   Market Name                1106 non-null   object
 2   Arrivals (Tonnes)          1106 non-null   object
 3   Min Price (Rs./Quintal)    1106 non-null   float64
 4   Max Price (Rs./Quintal)    1106 non-null   int64
 5   Modal Price (Rs./Quintal)  1106 non-null   int64
 6   Reported Date              1106 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 69.1+ KB

In [30]:
# Make the data type of 'Arrivals (Tonnes)' column to a float
data['Arrivals (Tonnes)'] = data['Arrivals (Tonnes)'].apply(lambda x: x.replace(',', '') if ',' in x else x)
data['Arrivals (Tonnes)'] = data['Arrivals (Tonnes)'].astype(float)

C:\Users\USER\AppData\Local\Temp\ipykernel_22760\2378534662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Arrivals (Tonnes)'] = data['Arrivals (Tonnes)'].apply(lambda x: x.replace(',', '') if ',' in x else x)

In [ ]:
# Pie chart to know which district has 
def pie_chart()

In [45]:
data['Modal Price (Rs./Quintal)'].value_counts()

1975    482
2125    339
2015    189
1980     33
2020     28
2130     28
2150      1
2550      1
2600      1
2650      1
2810      1
2720      1
2725      1
Name: Modal Price (Rs./Quintal), dtype: int64